* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.header h1 {
  margin-top: 50px;
  font-size: 5em;
}

.spacer {
  height: 50px;
  background-color: #488c03;
  width: 100%
}

.section {
  display: flex;
  text-align: center;
  margin: 70px 0;
  position: relative;
  flex-wrap: wrap;
}

.prod-item {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  overflow: hidden;
  text-align: left;
}

.illustration img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  margin: 100px 0;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.content-item {
  width: 33%;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #488c03;
}

.small-img img {
  width: 60%;
  height: auto;
}

.bg-dark {
  background-color: #402e24 !important;
}

.link, .link:hover{
  font-style: normal;
  color: #212529;
}

.button {
  padding: 20px;
  background-color: #488c03;
  border: 2px solid #212529;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .content {
    flex-direction: column;
  }

  .content-item {
    width: 100%;
  }

  .prod-item img {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
      margin: 0 auto;
  }

  .prod-item {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .prod-item img {
    float: left;
    width: 300px;
    height: auto;
    margin: 0 20px 20px 20px;
  }

  .prod-item p {
    font-size: 18px;
  }
}
